# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Python packaging
build/
dist/
*.egg-info

# Visual Studio Code
.vscode/
